@model IEnumerable<Survey.Models.FAQ>

@{
    ViewBag.Title = "FAQHome";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
    
}


<!DOCTYPE html>


<head>
    <section id="intro" style="height : 70px">
        <div class="intro-container" data-aos="zoom-in" data-aos-delay="0">
            @*<h1 class="mb-4 pb-0">The <span>Evironment</span><br>Survey</h1>
            <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p>
            <a href="https://www.youtube.com/watch?v=X2YgM1Zw4_E&ab_channel=SmileandLearn-English" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
            <a href="#about" class="about-btn scrollto">About The Event</a>*@
        </div>
    </section><!-- End Intro Section -->
    <!-- =======  F.A.Q Section ======= -->
    <section id="faq">

        <div class="container" data-aos="fade-up">

            <div class="section-header">
                <h2>F.A.Q </h2>
                <p>Freequently Asked Question</p>
            </div>

            <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-9">
                    <ul id="faq-list">

                        @foreach (var item in Model)
                        {
                            <li>
                                
                                <a data-toggle="collapse" class="collapsed" href="@("#faq"+item.FAQId)">@Html.DisplayFor(modelItem => item.Name) <i class="fa fa-minus-circle"></i></a>
                                <div id="@("faq"+item.FAQId)" class="collapse" data-parent="#faq-list">
                                    <p>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </p>
                                </div>
                            </li>
                        }
                    </ul>
                </div>
            </div>

        </div>

    </section>

</head>



